version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
      - "9229:9229"
    volumes:
      - .:/app
      - /app/node_modules
      - ./cache:/app/cache
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=secret
      - DB_NAME=inventory_db
      - DB_PORT=5432
      #command: npx nodemon main.js -- --host 0.0.0.0 --port 8080 --cache ./cache
    command: node --inspect=0.0.0.0:9229 main.js --host 0.0.0.0 --port 8080 --cache ./cache
 
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: inventory_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  pg_data:
